<div class="container">
<form [formGroup]="nameForm">
     <div class="form-group">
    <label for="fname"> First Name</label>
    <input type="text" class="form-control" id="fname"
           formControlName="fname"
           [(ngModel)]= "model.fname" name="fname"
           placeholder="First name"  required>
    <div [hidden]="fname.valid || fname.pristine">
        <span class="help-block">Name is required</span>
    </div>
</div>
<div class="form-group">
    <label for="lname"> Last Name</label>
    <input type="text" class="form-control"
           id="lname" formControlName="lname"
           [(ngModel)]="model.lname" name="lname"
           placeholder="First name"  required>
    <div [hidden]="lname.valid || lname.pristine">
        <span class="help-block">Name is required</span>
    </div>
</div>
</form>
 <form [formGroup]="emailForm">
    <h3 class="page-header"> Add Email</h3>
<button type="button" (click)="addNewEmail()" class="btn btn-primary">Add Email</button><br>
    <div formArrayName="emails">
        <div *ngFor="let email of emailForm.controls.emails.controls;
                let i=index"  [formGroupName]="i">
            <h4>Email #{{ i + 1 }}</h4>
            <div class="form-group">
                <label>Email Address</label>
                <input formControlName="mail" class="form-control"
                       pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                       placeholder="ex@example.com"  required email>
                <div [hidden] = "email.valid || email.pristine">
                    <div [hidden]="!email.hasError('pattern')">Email format should be
                        <small>joe@abc.com</small>
                    </div>
                </div>
                    <span class="help-block">
                    Please enter a email address
                    </span>
            </div>
            <button *ngIf="emailForm.controls.emails.controls.length > 1"
                    (click)="deleteEmail(i)" class="btn btn-danger">Delete Email</button>
        </div>
    </div>
</form>
</div>